* {
  padding: 0;
  margin: 0;
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 0.7s ease-in forwards;
}
@keyframes fadeInAnimation {
  to { opacity: 1; }
}

body.fade-out .no-fade {
  opacity: 1 !important;
  transition: none !important;
}

.section-header {
  background-color: var(--vshojo-pink);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 120px;
  height: 4px;
  display: block;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 18pt;
  color: white;
  margin-top: 20px;
}

#fade-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: #242123;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.7s;
  z-index: 9999;
}

body {
  background-image: url(images/background.png);
  background-size: 250px;
}

ul {
  list-style: none;
  display: flex;
  width: auto;
  gap: 40px;
  justify-content: center;
}

.angelsbanner {
  cursor: pointer;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 250px;
  height: 280px;
  display: flex;
}

/* --- Nametags --- */
.name-tag {
  padding-right: 3em;
  padding-left: 3em;
  border: 4px solild #4e1039;
  background-color: #fff;
  border-radius: 50px;
  text-decoration: none;
  display: block;
  position: relative;
  top: -2em;
}
.nametag-circle {
  padding-right: 3em;
  padding-left: 3em;
  border: 4px #242123 solid;
  background-color: #fff;
  border-radius: 50px;
  text-decoration: none;
  display: block;
  position: relative;
  top: -2em;
}
.nametag {
  padding-right: 3em;
  padding-left: 3em;
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
}
/* --- END nametags --- */

.ptext {
  text-align: center;
  color: white;
  font-size: 18pt;
  margin-top: 20px;
  padding: 0px 30px 0px 30px;
}

a {
  text-decoration-line: none;
  color: white;
  font-size: 24pt;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 36pt;
  color: white;
  text-align: center;
  margin-top: 20px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 24pt;
  color: white;
  text-align: center;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 12pt;
  color: white;
  text-align: center;
}

.line {
  width: 900px;
  height: 4px;
  background-color: white;
  margin-top: 20px;
  border-radius: 10px;
}

.img-hover-zoom {
  width: 100%;
  overflow: hidden;
}

/* Colorize-zoom Container */
.img-hover-zoom--colorize img {
  transition: transform .5s, filter 1.5s ease-in-out;
  filter: brightness(85%);
}

/* The Transformation */
.img-hover-zoom--colorize:hover img {
  filter: brightness(100%);
  transform: scale(1.1);
}

.angels > .talent {
  cursor: pointer;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 250px;
  height: 280px;
  display: flex;
}
.angels > .talent img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.items {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 250px;
  height: 280px;
  text-decoration: none;
  display: flex;
  overflow: visible;
}

.footer {
  background-color: #382c34;
  border-top: 5px #F34088 solid;
  padding-top:40px ;
  margin-top: 50px;
  height: 550px;
  width: 100%;
}

.footer-inner {
  display: flex;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
}

.header-center {
  min-width: 250px;
  text-align: center;
  color: white;
}

.botton {
  position: relative;
  display: flex;
  align-items: center;
  background: #F34088;
  border-radius: 60px;
  padding: 20px;
}

nav {
  position: fixed;
  background: #242123;
  border-bottom: 5px #F34088 solid;
  height: 180px;
  display: flex;
  align-items: center;
  color: white;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
}

.nav-inner {
  max-width: 1700px;
  padding: 0px 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.nav-logo {
  flex: 0 0 auto;
}

.nav-center {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-store {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;   /* 40px * 1.2 = 48px */
  height: 70px;  /* 40px * 1.2 = 48px */
  background: none;
  border: none;
  cursor: pointer;
  z-index: 11000;
  padding: 0;
  margin: 20px;
}
.burger span {
  display: block;
  width: 70px;   /* 28px * 1.2 = 33.6px, rounded to 34px */
  height: 30px;   /* 4px * 1.2 = 4.8px, rounded to 5px */
  margin: 10px 0; /* 4px * 1.2 = 4.8px, rounded to 5px */
  background: #fff;
  border-radius: 2px;
  transition: 0.3s;
  transform-origin: center;
}
.burger.open span:nth-child(1) {
  transform: rotate(45deg) translate(10px, 10px);
}
.burger.open span:nth-child(2) {
  opacity: 0;
}
.burger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(20px, -20px);
}

/* --- BURGER MENU & NAV LINKS RESPONSIVE --- */
@media (max-width: 1050px) {
  nav {
    padding-top: 40px; 
  }
  .nav-inner {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .phone-banner {
   margin-top: 210px !important;
  }
  .burger {
    display: flex;
    margin-left: 0;
  }
  .nav-links-row {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #110c11;
    position: absolute;
    top: 225px;
    right: 0;
    width: 100vw;
    padding: 20px 0 0 0;
    z-index: 10001;
  }
  .nav-links-row.show {
    display: flex;
  }
  .nav-links-row ul {
    flex-direction: column;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-links-row a {
    color: #fff;
    font-size: 20px;
  }
  .store {
    margin: 0;
    display: flex;
    align-items: center;
  }
  ul.poppins-light.nav-links {
    width: 100%;
    gap: 24px;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  .nav-links-row ul li:last-child a {
    padding-bottom: 24px;
  }
  .nav-links-row ul li:last-child {
    margin-bottom: 20px;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0em 1em 1em 1em;
    gap: 10px;
  }
  .angels {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1280px;
    padding: 0px 40px;
    margin: 0 auto;
    justify-content: center;
  }
  .card {
    position: relative;
    max-width: 500px;
    max-height: 500px;
    aspect-ratio: 1 / 1;
    display: inline-block;
    text-align: center;
    border-radius: 30px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .card-img {
    position: relative;
    aspect-ratio: 1 / 1;
    display: inline-block;
    text-align: center;
    gap: 20px;
    border: 5px solid #F34088;
    border-radius: 30px;
  }
  .avatar {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .name-tag {
    top: 10px;
    left: 5px;
    width: 250px;
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: white;
    color: #242123;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 999px;
    border: 5px solid #F34088;
    font-family: sans-serif;
  }
  .footer-inner {
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }
    .talent-banner {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items:center;
  gap: 50px;
  margin: 40px;
  margin-top: 200px;
}

 
  talent-banner > *:nth-child(1) {
    flex: 1;
    max-width: 90;
  }
  .talent-banner > *:nth-child(2) {
    flex: 3;
    max-width: 90%;
  }
  .talent-banner > *:nth-child(3) {
    flex: 2;
    max-width: 90%;
  }
}

@media (min-width: 1051px) {
  .burger {
    display: none !important;
  }
  .nav-links-row {
    display: flex !important;
    flex-direction: row;
    gap: 40px;
    background: none;
    position: static;
    padding: 0;
    width: auto;
    align-items: center;
  }
  .nav-links-row ul {
    flex-direction: row;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-img {
    width: 1280px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .header { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3em;
    gap: 10px;
  }
  .angels {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    padding: 0px 40px;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: center;
  }
  .card {
    position: relative;
    max-width: 500px;
    max-height: 500px;
    aspect-ratio: 1 / 1;
    display: inline-block;
    text-align: center;
    gap: 20px;
    border-radius: 30px;
  }
  .card-img {
    position: relative;
    aspect-ratio: 1 / 1;
    display: inline-block;
    text-align: center;
    gap: 20px;
    border: 5px solid #F34088;
    border-radius: 30px;
  }
  .avatar {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .name-tag {
    top: -50px;
    width: 250px;
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: white;
    color: #242123;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 999px;
    border: 5px solid #F34088;
    font-family: sans-serif;
    
  }
  .talent-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:start;
  gap: 50px;
  margin: 40px;
  margin-top: 200px;
}

  .talent-banner > *:nth-child(1) {
    flex: 1;
    max-width: 335px;
  }
  .talent-banner > *:nth-child(2) {
    flex: 3;
    max-width: 850px;
  }
  .talent-banner > *:nth-child(3) {
    flex: 2;
    max-width: 530px;
  }
  
}

.fade-wrapper {
  transition: opacity 0.7s;
  opacity: 1;
}
.fade-wrapper.fade-out {
  opacity: 0;
}

/* ========== POPPINS FONT WEIGHTS ========== */
.poppins-thin { font-family: "Poppins", sans-serif; font-weight: 100; font-style: normal; }
.poppins-extralight { font-family: "Poppins", sans-serif; font-weight: 200; font-style: normal; }
.poppins-light { font-family: "Poppins", sans-serif; font-weight: 300; font-style: normal; }
.poppins-regular { font-family: "Poppins", sans-serif; font-weight: 400; font-style: normal; }
.poppins-medium { font-family: "Poppins", sans-serif; font-weight: 500; font-style: normal; }
.poppins-semibold { font-family: "Poppins", sans-serif; font-weight: 600; font-style: normal; }
.poppins-bold { font-family: "Poppins", sans-serif; font-weight: 700; font-style: normal; }
.poppins-extrabold { font-family: "Poppins", sans-serif; font-weight: 800; font-style: normal; }
.poppins-black { font-family: "Poppins", sans-serif; font-weight: 900; font-style: normal; }
.poppins-thin-italic { font-family: "Poppins", sans-serif; font-weight: 100; font-style: italic; }
.poppins-extralight-italic { font-family: "Poppins", sans-serif; font-weight: 200; font-style: italic; }
.poppins-light-italic { font-family: "Poppins", sans-serif; font-weight: 300; font-style: italic; }
.poppins-regular-italic { font-family: "Poppins", sans-serif; font-weight: 400; font-style: italic; }
.poppins-medium-italic { font-family: "Poppins", sans-serif; font-weight: 500; font-style: italic; }
.poppins-semibold-italic { font-family: "Poppins", sans-serif; font-weight: 600; font-style: italic; }
.poppins-bold-italic { font-family: "Poppins", sans-serif; font-weight: 700; font-style: italic; }
.poppins-extrabold-italic { font-family: "Poppins", sans-serif; font-weight: 800; font-style: italic; }
.poppins-black-italic { font-family: "Poppins", sans-serif; font-weight: 900; font-style: italic; }

@media (max-width: 1050px) {
  .burger {
    display: flex;
  }
  .nav-links-row {
    display: none;
    flex-direction: column;
    align-items: center;
    background: #110c11;
    position: absolute;
    top: 225px;
    right: 0;
    width: 100vw;
    padding: 20px 0 0 0;
    z-index: 10001;
  }
  .nav-links-row.show {
    display: flex;
  }
  .nav-links-row ul {
    flex-direction: column;
    gap: 40px;
    margin: 0;
    padding: 40px 0px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-links-row a {
    color: #fff;
    font-size: 20px;
  }
  .footer-inner {
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }
  .toggle-container {
  
  position: relative;
  width: 740px;
  height: 240px;
}

.toggle-text {
  display: flex;
  position: absolute;
  align-items: center;
  gap: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #524164;
  font-weight: bold;
  z-index: 3;
}

.toggle {
  position: absolute;
  width: 740px;
  height: 240px;
  background-color: white;
  border: 20px solid #524164;
  border-radius: 170px;
  transition: all 0.3s ease;
  z-index: 2;
}

.circle {
  position: absolute;
  transform: translateX(5px) translateY(5px);
  width: 740px;
  height: 240px;
  background-color: #524164;
  border: 20px solid #524164;
  border-radius: 170px;
  transition: transform 0.3s ease;
  z-index: 1;
}
.social {
  height: 280px;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img.icon {
height: 170px;
width: auto;
}

h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 60pt;
  color: black;
  text-align: center;
}
.showcase {
  max-width: 90%;
  margin: 0px auto;
  display: flex;
  column-count: 2;
  column-gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .contact-container {
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 260px;
    margin-bottom: 400px;
  }

    .credits {
    gap: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items: left;
    margin-bottom: 150px;
    }
    .credit-panels {
    margin: 0px 15%;
    margin-top: 260px;
    text-align: left;
    justify-content: center;
    align-items: center;
}
  .credits img {
    height: auto;
    border-radius: 25px;
    border-color: #F34088;
    border-style: solid;
    border-width: 16px;
  } 

}

@media (min-width: 1051px) {
  .burger {
    display: none !important;
  }
  .nav-links-row {
    display: flex !important;
    flex-direction: row;
    gap: 40px;
    background: none;
    position: static;
    padding: 0;
    width: auto;
    align-items: center;
  }
  .nav-links-row ul {
    flex-direction: row;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .talent-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:start;
  gap: 50px;
  margin: 40px;
  margin-top: 200px;
}
.toggle-container {
  
  position: relative;
  width: 315px;
  height: 141px;
}

.toggle-text {
  display: flex;
  position: absolute;
  align-items: center;
  gap: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #524164;
  font-weight: bold;
  z-index: 3;
}

.toggle {
  position: absolute;
  width: 315px;
  height: 125px;
  background-color: white;
  border: 8px solid #524164;
  border-radius: 99px;
  transition: all 0.3s ease;
  z-index: 2;
}

.circle {
  position: absolute;
  transform: translateX(5px) translateY(5px);
  width: 315px;
  height: 125px;
  background-color: #524164;
  border: 8px solid #524164;
  border-radius: 99px;
  transition: transform 0.3s ease;
  z-index: 1;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

img.icon {
height: 80px;
width: auto;
}

h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 30pt;
  color: black;
  text-align: center;
}

.showcase {
  max-width: 40%;
  margin: 0px auto;
  display: flex;
  column-count: 2;
  column-gap: 20px;
  flex-direction: row;
  justify-content: center;
  align-items:start;
  margin-top: 40px;
}
  .contact-container {
    gap: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-top: 260px;
    margin-bottom: 400px;
  }
    .credits {
    gap: 40px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 100px;
  }
  .credit-panels {
    margin: 0px 15%;
    margin-top: 260px;
    text-align: left;
    justify-content: center;
    align-items: center;
}


.toggle-container:hover .circle {
  transform: translateX(25px) translateY(15px);
}



.talent-images {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Optional: set a max-width if you want to limit the container */
}

.talent-images img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: contain; /* or 'cover' if you want it to fill the box */
}

.talent-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: first baseline;
  text-align:left;
  color: white;
  margin-top: 40px;
}

.toggle-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.talenttext {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 48pt;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.infotext {
  color: white;
  font-size: 24pt;
  margin-top: 40px;
  line-height: 44pt;
}

  .showcase img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: contain;
    margin: 10px;
  }

  .contact-container img {
    width: 500px;
    height: auto;
  } 

  .credits img {
    width: 250px;
    height: auto;
    border-radius: 25px;
    border-color: #F34088;
    border-style: solid;
    border-width: 4px;
  } 

  .contact-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 72pt;
  color: white;
  text-align: center;
  margin-top: -10px
  }

  .contact-information {
  color: white;
  font-size: 36pt;
  margin-top: 10px;
}

.musician-role {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24pt;
  color: white;
  text-align: center;
  margin-top: -10px;
}

.eune-media {
  background-color: #ffffff !important;
  border: 8px solid #f15b8d;
}

.eune-circle {
  background-color: #f15b8d !important;
  border: 8px solid #f15b8d;
}

.comming-soon {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 80pt;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}

}